

.mb_90{
    margin-bottom: 90px;
}

.mt_90{
    margin-top: 90px;
}

.mt_60 {
    margin-top: 60px;
}

.pr_0{
    padding-right: 0;
}
.mr-2 {
    margin-right: .5rem!important;
}
/* Navbar */


.navbar {
    background-color: white;
}

.navbar-brand {
    color: #3399CC;
    font-size: 1.6rem;
}

.navbar-brand i {
    font-size: 2rem;
}

.nav-item {
    margin-right: 30px;
}

@media (min-width: 992px) {
    .nav-item:last-child { 
        margin-right: 0; 
    }
}


.nav-link {
    color: #666666;
    border-bottom: 4px solid transparent;
    font-size: 1.2rem;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #009999;
}

.nav-link-1.active,
.nav-link-1:hover {
    border-color: #33CCFF;
}

.nav-link-2.active,
.nav-link-2:hover {
    border-color: #FF6666;
}

.nav-link-3.active,
.nav-link-3:hover {
    border-color: #33CC66;
}

.nav-link-4.active,
.nav-link-4:hover {
    border-color: #CC66CC;
}

/* Banner */

.banner {
    min-height: 200px;
    background-image: url("../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Form */

.src_form {
    padding-left: 15px;
    padding-right: 15px;
    width: 500px;
    height: 50px;
    justify-content: center;
}

.form-control {
	padding: 10px 20px;
	width: 100%;
	height: auto;
    border-radius: 0;
    color: #009999;
    border: none;
}

.form-control, 
input:-internal-autofill-selected, 
input::placeholder
{
    color: #009999 !important;
}

.btn_color{
    background-color: #009999!important;
}

.btn_color:hover{
    background-color:#086969!important;
}

.src_btn {
    color: white;
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 0;
}

/* main container */

.text_aqua {
    color: #009999;
}

.input_paging {
    width: 40px;
    border-radius: 0;
    border: 1px solid #CCCCCC;
    background: #f4f4f4;
    padding: 0.2rem 0;
}

/* Cards grid */

.text_grey{
    color: #999;
    font-size: 1rem;
}

.text_grey_light {
    color: #CCC;
    font-size: 1rem;
}

.btn_lg {
    border: none;
    padding: 12px 50px 14px;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* .btn_sm {
    padding: 12px 25px 14px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
} */

.btn_sm{
    padding: 12px 25px 14px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    color: #999;
    background-color: #EEEEEE;
}

.btn_sm:hover,
.btn_sm:focus,
.btn_sm.active{
    background-color: #009999;
}

.row>* {
    padding-right: 0;
}